<!DOCTYPE HTML>
<html>
	<head>
		<title>Robert Pether</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Home</span></a>
						<a href="#work" class="icon solid fa-folder"><span>Work</span></a>
						<a href="#education" class="icon solid fa-book-open"><span>Education</span></a>
						<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
						<a href="https://github.com/rpet064" class="icon brands fa-github"><span>Github</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>Robert Pether</h1>
									<p id="l-paragraph">Junior Full Stack Software Developer</p>
									<p id="s-paragraph">React, Typescript, Flask, Node, Angular</p>
								</header>
								<a href="#work" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>Previous Experience</span></span>
									<img src="../static/me.png" alt="A photo of me was here" />
								</a>
							</article>
						<!-- Work -->
							<article id="work" class="panel">
								<header>
									<h2>Previous Experience</h2>
								</header>
								<p>
									<span><strong>Classroom Teacher</strong></span>
									<span><em> Dec 2020 - Now  - Papatoetoe Intermediate School</em></span>
									<span><strong>English & ESOL Tutor</strong></span>
									<span><em>Dec 2020 - Now - NZ Academic Learning Centre</em></span>
									<span><strong>English Teacher</strong></span>
									<span><em>Jan 2019 - Jan 2020 - Joy English School</em></span>
								</p>
							</article>
						<!--education-->
							<article id="education" class="panel">
								<header>
									<h2>Education</h2>
								</header>
								<p>
									<span><strong>BSC specialising in Data Science and Psychology</strong></span>
									<span><em>Jan 2012 - Dec 2015 - Massey University</em></span>
									<span><strong>Graduate Diploma in Teaching</strong></span>
									<span><em> Jan 2020 - Dec 2020 - University of Auckland</em></span>
									<span><strong>Certification in TESOL</strong></span>
									<span><em> Oct 2015 - Dec 2015 - Auckland Institute of Studies</em></span>
									<span><strong>100 Days of Python</strong></span>
									<span><strong>Complete 2022 Wev Development Bootcamp</strong></span>
									<span><em>Aug 2021 - April 2022 - Dr Angela Yu - Udemy</em></span>
								</p>
							</article>
						<!-- Contact -->
							<article id="contact" class="panel">
								<header>
									<h2>Questions? I Have Answers</h2>
								</header>
								<form action="#" method="post">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="text" name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Message" rows="6"></textarea>
											</div>
											<div class="col-12">
												<input type="submit" value="Send Message" />
											</div>
										</div>
									</div>
								</form>
							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Robert Pether
							<script type="text/javascript">
  								document.write(new Date().getFullYear());
							</script>
							</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
			</div>

	<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>